<!doctype html>
<html>

<head>
    <meta charset=\"utf-8\">
</head>

<body>
  
    Dear {{name}},<br />
<p>
        &nbsp; &nbsp;    We are all really excited to welcome you to our team! As agreed, your start date is <b> {{date}}</b>.
     We expect you to be in our offices by<b> {{time}} </b> and our dress code is<b> {{dresscode}}</b>
    </p>
     Regards,<br />
     HR
</body>

</html>